@import "../../../variables";

/*
 * Site specific variables
 */

$background_alt: $background;
$link_hover_color: $link_color;

$background: $base_color;
$base_color: $base_color;

$text_color: $text_color;
$header_color: $link_color;
$link_color: $selected_bg;

$selected_bg: $selected_bg;
$selected_color: $background;